if obj["modelName"] != nil {
    newObj := make(map[string]interface{})
    obj["displayName"] = obj["modelName"]
    delete(obj, "modelName")
    newObj["model"] = obj
    newObj["modelId"] = obj["modelId"]
    delete(obj, "modelId")
    return newObj, nil
} else if obj["sourceModel"] != nil {
    delete(obj, "labels")
    delete(obj, "metadata")
}

newObj := make(map[string]interface{})
name := ""
if v, ok := d.GetOk("model_id"); ok {
	name = v.(string)
    delete(obj,"modelId")
} else {
	name = d.Get("name").(string)
}
newObj["modelId"] = name
if v, ok := d.GetOk("parent_model"); ok {
    newObj["parentModel"] = v
    delete(obj,"parentModel")
}
newObj["model"] = obj
return newObj, nil

return obj, nil